{
    "extends": "stylelint-config-standard",
    "overrides": [
        {
            "files": [
                "*.scss",
                "**/*.scss"
            ],
            "customSyntax": "postcss-scss"
        }
    ],
    "rules": {
        "keyframes-name-pattern": null,
        "selector-class-pattern": null,
        "selector-id-pattern": null
    }
}